.header {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    padding: 12px 24px;
    background-color: #f2f4f5;
    border-bottom: 2px solid #1b3a49;
    gap: 12px;
}

.title {
    font-size: 28px;
    margin: 0;
}
.date {
    font-size: 16px;
    margin: 0;
}
